/* MOBILE STYLESHEET */

html,
body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #0e599a;
	background: -webkit-linear-gradient(#0e599a, #0a375f);
	background: -o-linear-gradient(#0e599a, #0a375f);
	background: -moz-linear-gradient(#0e599a, #0a375f);
	background: linear-gradient(#0e599a, #0a375f);
	font-family: Verdana, Geneva, sans-serif;
}

#header {
	width: 100%;
	height: 15em;
	position: relative;
}

#header img {
	width: 100%;
	height: 100%;
	box-shadow: none;
}

#navcollapse {
	display: block;
}

#navcollapse #opennav {
	width: 60px;
	height: 60px;
	margin-top: 3em;
	margin-left: 1em;
}

#navcollapse #closenav {
	width: 60px;
	height: 60px;
	margin-top: 3em;
	margin-left: 1em;
	float: left;
	display: none;
}

#nav {
	display: none;
	position: relative;
	width: 90%;
	height: 15em;
	margin-top: 1em;
	margin-left: 1.5em;
	padding: 0;
	background-color: #dbe7e8;
	font-size: 2em;
	box-shadow: 3px 3px 10px #000000;
}

#nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

#nav ul li {
	display: block;
	list-style: none;
	text-align: center;
	margin-right: 2em;
	padding: 10px;
	width: 100%;
}

#nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	transition: all .2s linear;
}

#nav ul li a:hover {
	color: #666666;
}

#nav ul li a:active {
	color: black;
}

.content {
	display: block;
	width: 90%;
	height: 40em;
	padding: 0;
	margin: 5%;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;
	font-size: 2.5em;
}

#contentgallery {
	height: 80em;
	max-width: 57.75em;
	overflow: scroll;
}
#contentgallery input {
	float: left;
	width: 50%;
}
#imgbutton {
	margin-left: 0;
	margin-top: 0;
}
#vidbutton {
	margin-right: 0;
	margin-top: 0;
}
#imagewrap, #videowrap {
	max-width: 52em;
	height: 90em;
	padding-top: 5em;
	margin: 5em;
}
#videowrap {
	height: 25em;
}
.wrap p {
	font-size: 2em;
}
#contactform {
	height: 25em;
	width: 27.5em;
	font-size: 2em;
	margin: 5%;
}

input {
	width: 30em;
	height: 3em;
	font-size: 0.5em;
}

#submit {
	font-size: 2em;
	width: 8em;
	height: 2em;
	-webkit-border-radius:0px;
	-webkit-appearance:none;
	-webkit-margin-left: 0px;
}

textarea {
	width: 50em;
	height: 14em;
}

input::-webkit-input-placeholder {
	font-size: 2em;
}

input:-moz-placeholder {
	font-size: 2em;
}

.tabs {
	font-size: 3em;
	width: 50%;
	margin: 0;
	padding: 0;
}

.tabs:first-child {
	float: left;
}

.tabs:nth-child(2) {
	float: right;
}

iframe {
	display: inline-block;
	width: 90%;
	height: 600px;
	margin: 2.5%;
	box-shadow: 3px 3px 10px #000000;
}

#rightbar {
	display: block;
	width: 90%;
	height: 25em;
	margin: 5%;
	padding: 0;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;
}

#otherinfo {
	width: 100%;
	font-size: 2em;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 1px solid #666666;
}
input {
	border-radius: none;
}
#other1, #other2, #other3 {
	margin-left: 10%;
	font-size: 2em;
	width: 5em;
}
