/* CSS For Smaller Screens */

.content {
	width: 75%;	
	margin: 3%;
}
#rightbar {
	display: block;
	width: 90%;
	height: 12.5em;
	margin: 5%;
	padding: 0;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;
}

#otherinfo {
	width: 100%;
	font-size: 1em;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 1px solid #666666;
}
.otherimg {
	display: inline-block;
	margin: 0;
	margin-top: 1.5%;
}
.otherp {
	text-align: left;	
	margin: 0;
}
#other1, #other2, #other3 {
	display: inline-block;
	position: abolsute;	
	margin-left: 12.5%;
	text-align: center;
}
#uhoh {
	left: 30em;
	top: 30em;	
}
#contactform {
	margin-left: 5%;
	height: 27.5em;
}
#remindcont {
	margin-left: 20%;	
}
