/* CSS for small browsers */

#navcollapse {
	display: block;
}

#navcollapse #opennav {
	width: 25px;
	height: 25px;
	margin-top: 2em;
	margin-left: 1em;
}

#navcollapse #closenav {
	width: 25px;
	height: 25px;
	margin-top: 2em;
	margin-right: 1em;
	float: right;
	display: none;
}

#nav {
	display: none;
	position: relative;
	width: 95%;
	height: 15em;
	margin-top: 1em;
	margin-left: 1.5em;
	padding: 0;
	background-color: #dbe7e8;
	font-size: 1em;
	box-shadow: 3px 3px 10px #000000;
}

#nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	width: 98%;
	text-align: center;
}

#nav ul li {
	display: block;
	list-style: none;
	text-align: center;
	margin-right: 2em;
	padding: 10px;
	width: 100%;
}

#nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 1em;
	transition: all .2s linear;
}

#nav ul li a:hover {
	color: #666666;
}

#nav ul li a:active {
	color: black;
}
.content {
	width: 90%;
	margin: 5%;
}
.contenthome {
	width: 90%;
	margin: 5%;	
}
#other1, #other2, #other3 {
	margin-left: 11%;	
}