html, body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #0e599a;
	background: -webkit-linear-gradient(#0e599a, #0a375f);
	background: -o-linear-gradient(#0e599a, #0a375f);
	background: -moz-linear-gradient(#0e599a, #0a375f);
	background: linear-gradient(#0e599a, #0a375f);
	font-family:Verdana, Geneva, sans-serif;
}

#header {
	width: 100%;
	height: 15em;
}

#header img {
	width: 50%;
	height: 50%;
	margin-top: 10px;
	box-shadow: 3px 3px 10px #000000;
}
#nav {
	width: 10em;
	height: 15em;
	display: block;
	margin: 2.5%;
	padding: 0;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;
}
#nav ul {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 8.7em;
	text-align: center;
}
#nav ul li {
	display:block;
	list-style: none;
	text-align: center;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #666666;
}
#nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	transition: all .2s linear;
}
#nav ul li a:hover {
	color: #666666;
}
#nav ul li a:active {
	color: black;	
}
