html, body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #0e599a;
	background: -webkit-linear-gradient(#0e599a, #0a375f);
	background: -o-linear-gradient(#0e599a, #0a375f);
	background: -moz-linear-gradient(#0e599a, #0a375f);
	background: linear-gradient(#0e599a, #0a375f);
	font-family:Verdana, Geneva, sans-serif;
}
#header {
	width: 100%;
	height: 15em;
}

#header img {
	width: 50%;
	height: 50%;
	margin-top: 10px;
	box-shadow: 3px 3px 10px #000000;
}
#navcollapse {
	display: none;	
}
#nav {
	width: 10em;
	height: 15em;
	display: inline-block;
	float: left;
	margin: 2.5%;
	padding: 0;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;
}
#nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	width: 8.7em;
	text-align: center;
}
#nav ul li {
	display: block;
	list-style: none;
	text-align: center;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #666666;
}
#nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	transition: all .2s linear;
}
#nav ul li a:hover {
	color: #666666;
}
#nav ul li a:active {
	color: black;	
}
#content {
	display: inline-block;
	width: 62.5em;
	height: 30em;
	float: left;
	padding: 0;
	margin: 2.5%;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;	
}
#contentgallery {
	display: inline-block;
	width: 62.5em;
	height: 100em;
	float: left;
	padding: 0;
	margin: 2.5%;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;	
}
#contentgallery button {
	float: left;	
}
#imagewrap, #videowrap {
	width: 52em;
	height: 90em;
	margin: 5em;
}
.wrap {
	margin: 2.5%;
	margin-bottom: 100px;
}
iframe {
	display: inline-block;
	width: 75%;
	height: 600px;
	margin: 2.5%;
	box-shadow: 3px 3px 10px #000000;	
}
#rightbar {
	display: inline-block;
	float: left;
	width: 10em;
	height: 35em;
	margin: 2.5%;
	padding: 0;
	background-color: #dbe7e8;
	box-shadow: 3px 3px 10px #000000;	
}
#otherinfo {
	font-size: 0.9em;	
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 1px solid #666666;
}
.images, .videos {
	width: 5em;
	height: 2.5em;
	border-right: 1px solid #666666;
	padding: 1em;	
}
footer {
	position: relative;
	width: 100%;
	height: 15em;
	padding: 0;
	margin: 0;
	bottom: 0;
	background-color: #dbe7e8;
	clear: both;
	border-top: 3px solid #666666;	
}
#footleft, #footcenter, #footright {
	display: inline-block;	
	width: 10em;
	text-align: center;
	font-size: 0.75em;
}
#footleft p, #footcenter p, #footright p {
	height: 5em;	
}
footer #footleft {
	margin-left: 15em;	
	float: left;
}
footer #footcenter {
	margin-left: 35em;
	margin-right: 35em;
}
footer #footright {
	float: right;
	margin-right: 15em;	
}
footer #footbot {
	clear: both;
	width: 100%;
	font-size: 0.8em;	
}
footer #footbot p {
	color: rgba(66,66,66,0.80);	
}
footer div a {
	opacity: 1;
	transition: all .3s linear;
}
footer div a:hover {
	opacity: 0.6;	
}
/* Browser specific rules */

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	body {
		background: #0e599a;
	}
	#content {
		width: 60%;	
	}
	footer #footcenter {
		margin-left: 27.5em;
		margin-right: 27.5em;
	}	
}